
html, body{
    box-sizing:border-box;
    height: 100vh;
    margin:0px;
    border: 0;
    padding: 0;
    bottom: 0;
}

.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autor{
    background-color: rgba(100, 100, 100, 0.2);
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    z-index: 1;
    text-align: center;
}

.autor p{
    margin-top: 20px;
    padding: 10px;
}
.next-page{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.previous-page{
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.circulo{
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo:hover, .circulo:focus       {
    color: #fff;
    background-color: rgba(221, 115, 15, 0.5);
    border-color: #a8ef6e;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    animation: pulsar 2s;
}

@keyframes pulsar {
    0%{ box-shadow: 0 0 0 0 #ef8f6e;}
}


.arrow{ 
    width: 24px;
    height: 24px;
}

.regras{
    height: 100vh;
    display: flex;
    background-color: #d0d0d0;
}

.regras .contentBox{
    font-size: 15px;
    width: 100%;
    padding: 20px 50px;
    background-color: #c0c0c0;
}

.regras .imgBox{ 
    width: 100%;
    background: url(../images/Mole.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

.tabuleiro{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 240, 0, 1);
}

.gramado{
    width: 500px;
    height: 500px;
    background-color: #008000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: url(../images/hammer.png), crosshair;
    padding: 0;
}

.gramado img{
    padding: 25px 50px;
    box-sizing: content-box;
    width: 76px;
    height: 61px;
}

.pontos {
    width:  536px;
    height: 536px;
    display: flex;
    justify-content: center;
}

.pontos th{
    font-size: 50px;
    text-align: center;
}

.pontos td:first-child{
    text-align: right;
    font-size: 36px;
}

#start{ 
    width: 100%;
    font-size: 36px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 240, 0, 1);
}

#start{
    text-decoration: none;
}

#start:hover, #start:focus{
    color: black;
    border-color: rgb(0, 77, 0);
    background-color: rgba(6, 177, 0, 0,8);
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    animation: pulsar 2s;
}


.heading{
    text-transform: uppercase;
    font-size: 25px;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
    text-shadow: 3px 3px 4px rgba(100, 100, 100, 0.7), 1px 1px 1px rgba(3, 156, 3, 0.7);
    
}
.records{
    height: 100vh;
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.records table{
    border-collapse: collapse;
    font-family: cursive, 'MedievalSharp';
    font-size: 10px;
}

.records th{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.records td{
    padding: 10px 30px;
    font-size: 20px;
}

.records tr:nth-child(even){
    background-color: #c0c0c0;
}

.records td:first-child, td:nth-child(3){
    text-align: right;
}

@media (max-width: 991px)
{
    .regras{
        flex-direction: column;
    }

    .regras .contentBox{
        width: 100%;
    }

    .regras .imgBox{
        height: 100%;
    }

    .tabuleiro{
        flex-direction: column-reverse;
        height: 100%;
    }

    .gramado img{
        padding: 25px 50px;
        box-sizing: content-box;
        width: 76px;
        height: 61px;

    .pontos th{
        font-size: 30px;
    }

    pontos td:first-child{
        font-size: 20px;
    }

    .gramado{
        width: 400px;
        height: 400px;
    }

    .pontos{
        width: 400px;
        height: 400px;
    }

    .gramado{
        padding: 10px 30px;
    }

}
